.setting{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    max-width: 80%;
    flex: 0 0 80%;
    width: 2000px;
    padding: 10px 10px;
}
.setting__container{
    width: 100%;
    padding: 10px 10px;
}
.setting__avatar {
    width: 100%;
    padding: 10px 10px;
}
.setting__avatar-img {

    width: 20%;
    border-radius: 30px;
    background-size: contain;
    background-repeat: no-repeat;

}
.setting__control {
    padding: 10px 10px;
}
.setting__control .write__blog-input.setting-change{
    width: 90%;
}
@media (min-width: 1024px) and (max-width: 1239px){
    .setting{
        width: 100%;
    }
    /* .list_blog{
        max-width: 100%;
        flex: 0 0 100%;
    } */
    /* .trending__blog{
    } */
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .setting{
        max-width: 100%;
        flex: 0 0 100%;
        width: 644px;
    }
    .setting__control .write__blog-input.setting-change{
        width: 88%;
    }
}
@media (min-width:0px) and (max-width: 740px) {
    .setting{
        max-width: 90%;
        flex: 0 0 90%;
        width: 644px;
    }
    .setting__control {
        padding: 10px 00px;
    }
    .setting__control .write__blog-input.setting-change{
        width: 78%;
    }
}