.trending__blog{
    flex:0 0 30%;
    max-width: 30%;
    margin-top: 30px;
    padding: 10px 40px;
    width: 100%;
    height: 1000px;
}
.trending__blog-main {
    position: fixed;
    width: 280px;
}
.trending__blog-main:hover{
    overflow-y: auto;
}
.trending__blog-container{
    border-radius: 10px;
    border: 5px solid pink;
}
.trending__blog-list {
    width: 100%;
}
.blog__item_typo{
    padding: 10px 10px;
    font-size: 1.4rem;
}
@media (min-width: 1024px) and (max-width: 1239px){
    .trending__blog-main {
        width: 216px;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .trending__blog{
        display: none;
    }

}
@media (min-width:0px) and (max-width: 740px) {
    
    .trending__blog{
        display: none;
    }
    
}