.write__blog{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.write__blog-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgb(249 211 217 / 14%);
}
.write__blog-main {
    display: flex;
    justify-content: center;
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    height: 100%;

}
.write__blog-container {
    width:40%;
    padding-right: 2px;
    background-color: white;
    z-index: 2;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    border-radius: 10px;
    border: 5px solid pink;
    overflow-y: overlay;
    height: 60%;
    
}
.write__blog-icon{
    position: absolute;
    top: -3%;
    right: 0%;
    cursor: pointer;
    padding: 10px 10px;
}
.write__blog-color{
    font-size: 1.8rem;
    fill: pink;
}
.write__blog-control {
    margin-top: 5px;
    width: 90%;
    padding: 10px 10px;
}
.write__blog-title {
    font-size: 0.8rem;
}
.write__blog-input {
    width: 100%;
    padding: 14px 24px;
    outline: rgb(250, 114, 137);
    border-radius: 10px;
    border: 2px solid pink;
}
.write__blog-file {
    padding: 14px 24px;
    outline: rgb(250, 114, 137);
    border-radius: 10px;
    border: 2px solid pink;
}
.write__blog-container-image{
    display: flex;
    justify-content: center;
}
input[type='file'] {
    color: rgba(0, 0, 0, 0);
    outline: none;
    border: 0px;
}
.write__blog-img{
    /* width: 60%; */
    /* height: 200px; */
    width: 96%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow:rgb(245 122 143) 0px 6px 12px -2px, rgb(245 122 143) 0px 3px 7px -3px;
}
.write__blog-button-save{
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    background-color: pink;
    margin: 10px 10px;
    width: 40%;
    text-align: center;
}

span.write-btnbtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 3px solid pink;
    border-radius: 50%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.writenew{
    display: none;
}
textarea.write__blog-input {
    height: 200px;
}

@media (min-width: 1024px) and (max-width: 1239px){
    .trending__blog-main {
        width: 216px;
    }
    .writenew{
        display: none;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .write__blog-container{
        width: 80%;
        height: 80%;
    }
    .write__blog-control{
        width: 100%;
        margin-top: 20px;
    }
    .write__blog-control-1{
        margin-top: 0px;

    }
    .write__blog-button-save{
        width:80%; 
    }
    textarea.write__blog-input {
        height: 200px;
    }
    span.write-btnbtn{
        bottom: 80px;
    }
    .writenew{
        display: block;
    }
    span.write-btnbtn{
        display: none;
    }

}
@media (min-width:0px) and (max-width: 740px) {
    
    .write__blog-container{
        width: 100%;
        height: 100%;
    }
    .write__blog-control{
        width: 100%;
        margin-top: 20px;

    }
    .write__blog-control-1{
        margin-top: 0px;

    }
    .write__blog-button-save{
        width:100%; 
    }
    .write__blog-icon{
        top: 0%;
    }
    textarea.write__blog-input {
        height: 400px;
    }
    
    span.write-btnbtn{
        bottom: 80px;
    }
    .writenew{
        display: block;
    }
    span.write-btnbtn{
        display: none;
    }
}